@model Interlex.BusinessLayer.Models.LostPassword
@using System.Web.Configuration
@using Interlex.App.Helpers

@using Interlex.App.Resources

@{
    ViewBag.Title = "LostPassword";
    Layout = "~/Views/Shared/_LayoutPageBeforeLogin.cshtml";
}

<div class="login">
    <div class="login-frame relative">
        @if (TempData["msg"] == null)
        {
            if (WebConfigurationManager.AppSettings["SolutionVersion"] == "product")
            {
                <div class="logo-main-eu" style="position:relative; margin:0 auto;"></div>
            }
            else if (WebConfigurationManager.AppSettings["SolutionVersion"] == "project")
            {
                <div class="logo-main-cc" style="position: relative; margin: 0 auto;"></div>
            }
                <form method="post" class="margin-top-10">
                    <!-- <input name="userName" id="userName" type="text" class="inp-txt margin-top-5" placeholder="@Resources.UI_Username_Upper">-->
                    <input name="email" type="email" class="inp-txt margin-top-5" style="border: 1px solid #148dd4;" placeholder="Email">
                    <input type="submit" class="sign-btn" value="@Resources.UI_Recover">
                </form>
        }
        else
        {
            <div class="text-info text-center"><h4>@TempData["msg"]</h4></div>
            // hello from the other siiiiiide
        }
        
        <a href="@WebAppHelper.AppRootFolder/Login/Logout/1" class="back-to-index">@Resources.UI_BackToLogin</a>
    </div>
</div>
