@model Interlex.BusinessLayer.Models.ResetPassword
@using Interlex.App.Resources
@using Interlex.App.Helpers
@using System.Web.Configuration

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutPageBeforeLogin.cshtml";
}

<div class="login-frame text-center">
    <img src="~/Content/Images/InterLex_logo.png" />

    @if (TempData["statusCode"] == "OK")
    {
        <div class="text-center">
            <h4 class="text-primary">@TempData["msg"]</h4>
        </div>
    }
    else
    {
        <form method="post" class="center">
            <div>
                @Html.TextBoxFor(mdl => mdl.Code, new { placeholder = @Resources.UI_ResetCode, @class = "input-blue input-search-medium margin-bottom-5", value = @Model.Code })
            </div>
            <div>
                @Html.PasswordFor(mdl => mdl.Password, new { placeholder = @Resources.UI_NewPasswrd, @class = "input-blue input-search-medium margin-bottom-5" })
            </div>
            <div>
                @Html.PasswordFor(mdl => mdl.Password2, new { placeholder = @Resources.UI_RepeatPassword, @class = "input-blue input-search-medium margin-bottom-5" })
            </div>
            <input type="submit" class="btn btn-blue btn-large f-white f-bold f-0-6" value="@Resources.UI_Save">
        </form><!---->

        <div class="text-center">
            <h4 class="text-primary">@TempData["msg"]</h4>
        </div>
    }

    <div class="text-center">
        <a href="@WebAppHelper.AppRootFolder/Login/Logout/1">@Resources.UI_BackToLogin</a>
    </div>
</div>
