@model Interlex.BusinessLayer.Models.EditPassword
@using Interlex.App.Resources
<div class="margin-top-10" id="settings-body-container">
    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { id = "change-password-form" }))
    {
        <div>
            <div>
                @* @Html.LabelFor(m => m.Password)*@
                @Html.PasswordFor(m => m.Password, new { id = "new-password", name = "Password", placeholder = @Resources.UI_NewPasswrd, @class = "margin-bottom-5 input-blue input-change-password" })
            </div>
            <div>
                <div>
                    @*   @Html.LabelFor(m => m.Password2)*@
                    @Html.PasswordFor(m => m.Password2, new { id = "repeat-password", name = "Password2", placeholder = @Resources.UI_RepeatPassword, @class = "input-blue input-change-password" })
                </div>
            </div>
            <div>
                <div id="change-password-result" class="f-bold f-grey absolute f-0-8" style="right: 60px; top: 110px;">
                </div>
                @*<button class="btn btn-large btn-blue f-white f-bold" style="font-size: 0.8em; margin-left: 5px; margin-top: 85px;" type="submit">@Resources.UI_Save <span class="fa fa-floppy-o"></span></button>*@
             <input class="btn btn-large btn-blue f-white f-bold" type="submit" value=@Resources.UI_Save id="change-password-button" style="font-size: 0.8em; margin-left: 20px; margin-top: 155px;" />
            </div>
        </div>
    }
</div>

<script>
    $('#change-password-button').click(function (e) {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: "@(Url.Action("ChangePassword", "User"))",
            data: { Password: $('#new-password').val(), Password2: $('#repeat-password').val() }
        })
  .done(function (data) {
      $('#change-password-result').html(data);
      setTimeout(function () {
          $('#change-password-result').fadeOut(1500, function () {
              $('#change-password-result').html('');
              $('#change-password-result').show();
          });
      }, 3000);
  });
    })
</script>