@using Interlex.App.Helpers
@using Interlex.App.Resources

<fieldset class="width-80 container-form" id="law-field-of-search-container-eu">
    <legend>@Resources.UI_SearchArea <span class="fa fa-info-circle f-blue icon-hint tooltip" title="@Resources.Hint_LegislationSearchArea"></span></legend>
    <div class="left width-50 text-center" id="law-eu-actual-acts" style="margin-left: -5px;"></div> @* Only in actual acts *@
        <div class="left width-50 text-center" id="law-eu-base-acts" style="margin-left: 2px;"></div> @* Only in base acts *@
    <div class="clearfix"></div>
</fieldset>

<fieldset class="width-80 margin-top-5">
    <legend>@Resources.UI_DocumentReference</legend>
    <div class="left width-50">
        <div class="left width-60" id="law-eu-document-type"></div> @* Document type *@
        <div class="left width-40" id="law-eu-doc-number"></div> @* Doc number *@
        <div class="clearfix"></div>
    </div>
    <div class="left width-50 container-form">
        <div class="left width-30" id="law-eu-year"></div> @* Year *@
        <div class="left width-70" id="law-eu-natid-eli"></div> @* NatId_ELI*@
    </div>
    <div class="clearfix"></div>
</fieldset>
<div class="clearfix"></div>

<fieldset class="width-80 margin-top-5">
    <legend>@Resources.UI_OJ</legend>
    <div class="left width-50" id="law-eu-oj-series"></div> @* OJ Series *@
    <div class="left width-50">
        <div class="left width-30" id="law-eu-oj-number"></div> @* OJ Number *@
        <div class="left width-30" id="law-eu-oj-year"> </div> @* OJ Year *@
        <div class="left width-40" id="law-eu-oj-initial-page"></div> @* OJ Initial page *@
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</fieldset>
<div class="clearfix"></div>

<fieldset class="width-80 margin-top-5">
    <legend>
        @Resources.UI_Dates
    </legend>
    <div id="law-eu-dates-search"></div>
    <div class="clearfix"></div>
</fieldset>
<div class="clearfix"></div>

<fieldset class="width-80 margin-top-5">
    <legend>@Resources.UI_Classifiers</legend>
    <div>
        <div class="left width-50" id="law-eu-directory-legislation"></div> @* Directory legislation *@
        <div class="left width-50" id="law-eu-eurovoc"></div> @* Eurovoc *@
    </div>
    <div class="clearfix"></div>
    <div>
        <div class="left width-50" id="law-eu-subject-matter"></div> @* Subject matter *@
    </div>
</fieldset>