@model Interlex.BusinessLayer.Models.CourtAct

@using Interlex.BusinessLayer
@using Interlex.BusinessLayer.Enums
@{
    if (Model != null && Model.HtmlModel != null)
    {
        ViewBag.Title = "- " + Common.StripHTML(Model.HtmlModel.Title.Value.ToString());
    }
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section JavaScript
{
    @Scripts.Render("~/bundles/doc")
}

@section CSS
{
    @Styles.Render("~/Content/doc")
}

@if (ViewBag.DocError != null && ViewBag.DocError != "")
{
    <div class="f-blue text-center" style="padding-top:40px;">@ViewBag.DocError</div>
}
else
{
    @Html.Partial("_DocNavigation", Model)
    @Html.Partial("_DocTopBar")
    @Html.Partial("Act", Model)
}

<script>
  
</script>